*{
    padding:0;
    margin:0;
}
li{
    list-style:none;
}
a{
    text-decoration:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    -moz-tap-highlight-color:rgba(0,0,0,0);
}
input{
    background:none;
    border:none;
    outline:none;
}
body{
    font-size:0.16rem;
}
%wh{
    width:100%;
    height:100%;
    overflow:hidden;
}
%onetext{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
%moretext{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow:ellipsis;
}
html,body,.wrap{
    @extend %wh;
}
.wrap{
    display: flex;
    flex-direction: column;
    position: relative;
}
.mark{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.1);
    .cont{
        position: absolute;
        width:6.92rem;
        height:8.76rem;
        left:0;
        top:0;
        right:0;
        bottom:0;
        margin:auto;
        background: #fff;
        border-radius: 0.1rem;
        h2{
            width:100%;
            padding:0.63rem 0 0.34rem 0;
            text-align: center;
            span{
                display: inline-block;
                width:2.7rem;
                height:0.89rem;
                img{
                    width:100%;
                }
            }
            b{
                font-size: 0.35rem;
                color:#3c4548;
            }
        }
        .box{
            box-sizing: border-box;
            width:100%;
            padding:0 0.57rem;
            p{
                width:100%;
                height:0.75rem;
                line-height: 0.75rem;
                border-bottom: 1px solid #a3a6a4;
                padding-top: 0.75rem;
                position: relative;
                span.one{
                    position: absolute;
                    left:0.32rem;
                    bottom: 0.18rem;
                    width:0.28rem;
                    height:0.44rem;
                    img{
                        width:100%;
                    }
                }
                span.two{
                    position: absolute;
                    width:0.3rem;
                    height:0.33rem;
                    left:0.3rem;
                    bottom:0.35rem;
                    img{
                        width:100%;
                    }
                }
                input{
                    width:80%;
                    height:100%;
                    padding-left: 0.8rem;
                }
            }
            button{
                width:100%;
                height:0.79rem;
                background: none;
                border:none;
                outline: none;
                background: #2fba77;
                border-radius:0.1rem;
                font-size: 0.27rem;
                color:#fff;
                margin-top:0.85rem;
            }
        }
    }
}
.header{
    height:1.1rem;
    line-height: 1.1rem;
    background: #393a3f;
    position: relative;
    .had_left{
        position: absolute;
        left:0.34rem;
        top:0;
        i{
            font-size: 0.33rem;
            color:#fff;
        }
    }
    label{
        font-size: 0.35rem;
        padding-left: 1.25rem;
        color:#fff;
    }
    .had_right{
        position: absolute;
        right:0.42rem;
        top:0;
        i{
            font-size: 0.33rem;
            color:#fff;
        }
    }
}
.main{
    flex:1;
    overflow: hidden;
    background: #99a1ab;
}